<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Girlscouts</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/order-page.css">
</head>
<body>

<div class="banner-top">
    <div>
        <img src="../static/images/QSPGS_banner.png">
    </div>
</div>

<div class="container">
    <div class="row ml-0 mb-3 bg-light mt-3 mr-0 rounded">
        <div class="col-sm-12">
            <h1>Excellent!</h1><br>

            <h3>Your shirt is in line to be printed!</h3><br>

            <h3>We'll email you when your order is on it's way!</h3>

        </div>

    </div>

</div>

<div class="banner-bottom">
        <span id="contact-us-text">
            Contact Us
        </span>

    <div class="contact-phone">
        <svg id="phone-svg" xmlns="http://www.w3.org/2000/svg" viewBox="-64.0054931640625 -351.92022705078125 135.92568969726562 136.02572631835938" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;" fill="#ED1566">
            <path d="M71.3-243.6l-.7-2c-1.6-4.8-6.9-9.7-11.7-11L41-261.5c-4.8-1.3-11.8.5-15.3 4l-6.5 6.5c-23.5-6.3-41.9-24.8-48.2-48.2l6.5-6.5c3.5-3.5 5.3-10.4 4-15.3l-4.9-17.9c-1.3-4.8-6.3-10.1-11-11.7l-2-.7c-4.8-1.6-11.6 0-15.1 3.6l-9.7 9.7c-1.7 1.7-2.8 6.6-2.8 6.7-.3 30.7 11.7 60.3 33.4 82 21.7 21.7 51.1 33.7 81.7 33.4.2 0 5.2-1.1 6.9-2.8l9.7-9.7c3.6-3.7 5.2-10.5 3.6-15.2z"></path>
        </svg>

        <span>(877) 305-4146</span>
    </div>

    <div class="contact-email">
        <svg id="email-svg" xmlns="http://www.w3.org/2000/svg" viewBox="28.68799591064453 50.34600067138672 143.6240234375 95.75000762939453" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;" fill="#ED1566">
            <path d="M100.491 100.909l71.821-33.113V53.338a2.99 2.99 0 0 0-2.992-2.992H31.68a2.99 2.99 0 0 0-2.992 2.992v14.681l71.803 32.89z"></path>
            <path d="M101.754 106.923a2.987 2.987 0 0 1-1.251.275h-.006c-.415 0-.838-.087-1.245-.269L28.688 74.6v68.504a2.99 2.99 0 0 0 2.992 2.992h137.64a2.99 2.99 0 0 0 2.992-2.992V74.389l-70.558 32.534z"></path>
        </svg>

        <span>customerservice@qspgao.com</span>
    </div>
</div>

<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/clearFormStorage.js"></script>
</body>
</html>